{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body text-danger">
                        {% if app.user %}
                            <p style="color: #007BFF;">Welcome {{ app.user.getFullName() }}</p>
                        {% endif %}
                        May the force be with you !
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
